div.custom-pagination
  div.custom-pagination__pages
    span.custom-pagination__label Страницы:
    div.custom-pagination__pages-list
      span.custom-pagination__page 1
      a(href="#").custom-pagination__page 2
      a(href="#").custom-pagination__page 3
  div.custom-pagination__arrows
    span.custom-pagination__arrow.custom-pagination__arrow--prev Предыдущая
    a(href="#").custom-pagination__arrow Все
    a(href="#").custom-pagination__arrow.custom-pagination__arrow--next Следующая