div.custom-tabs
  form(action="#" method='post').custom-tabs__form
    div.custom-tabs__field
      label.custom-tabs__label
        input(type="checkbox" name='filter' value='Все').custom-tabs__input
        span Все
    div.custom-tabs__field
      label.custom-tabs__label
        input(type="checkbox" name='filter' value='Финансы' checked).custom-tabs__input
        span Финансы
    div.custom-tabs__field
      label.custom-tabs__label
        input(type="checkbox" name='filter' value='Доставки').custom-tabs__input
        span Доставки
    div.custom-tabs__field
      label.custom-tabs__label
        input(type="checkbox" name='filter' value='Товары').custom-tabs__input
        span Товары
    div.custom-tabs__field
      label.custom-tabs__label
        input(type="checkbox" name='filter' value='Лидогенерация').custom-tabs__input
        span Лидогенерация