extends ../templates/default

block main
  include ../components/custom-header/custom-header

  include ../components/custom-filter/custom-filter

  +custom-layout({
    pagination: true,
  })
    include ../components/custom-table/custom-table