extends ../templates/default

block main
  include ../components/custom-header/custom-header

  +custom-layout({
    title: 'Модули',
    tabs: true,
    secondClass: 'custom-layout__list--260',
  })
    include ../components/custom-module-card/custom-module-card