mixin modal(props)
  if props.user
    section.popUp.modal
      div.popUp__overlay.modal__overlay
      section.popUp__container.modal__container
        div.popUp__wrapper.modal__wrapper
          button.popUp__close.modal__close
            span

          div