table.custom-table
  thead.custom-table__head
    tr.custom-table__head-row
      th.custom-table__head-cell
        span.custom-table__head-title Счет
      th.custom-table__head-cell
        span.custom-table__head-title Дата
      th.custom-table__head-cell
        span.custom-table__head-title Операция
      th.custom-table__head-cell
        span.custom-table__head-title ID элемента
      th.custom-table__head-cell
        span.custom-table__head-title Параметры запроса
      th.custom-table__head-cell
        span.custom-table__head-title Результат
  tbody.custom-table__body
    tr.custom-table__row
      td.custom-table__cell
        a(href="#").custom-table__cell-title Какое-то название счета, которое может быть длинным и занимать две строки и переноситься
      td.custom-table__cell
        span.custom-table__cell-title 15.12.2024 12:56
      td.custom-table__cell
        span.custom-table__cell-title Черновик платежа
      td.custom-table__cell
        span.custom-table__cell-title 4569871236547845567
      td.custom-table__cell
        span.custom-table__cell-title Здесь какие-то параметры запроса
      td.custom-table__cell
        span.custom-table__cell-title А тут какой-то результат
    tr.custom-table__row
      td.custom-table__cell
        a(href="#").custom-table__cell-title Какое-то название счета
      td.custom-table__cell
        span.custom-table__cell-title 16.12.2024 12:56
      td.custom-table__cell
        span.custom-table__cell-title Статус платежа
      td.custom-table__cell
        span.custom-table__cell-title 4569871236547845567
      td.custom-table__cell
        span.custom-table__cell-title Здесь какие-то параметры запроса
      td.custom-table__cell
        span.custom-table__cell-title А тут какой-то результат
    tr.custom-table__row
      td.custom-table__cell
        a(href="#").custom-table__cell-title Заголовок/название счёта, возможно введение в блок который может быть длинным длинным, длинее чем удав из мультика 38 попугаев в лодке, не считая слонёнка.
      td.custom-table__cell
        span.custom-table__cell-title 15.12.2024 12:56
      td.custom-table__cell
        span.custom-table__cell-title Черновик платежа
      td.custom-table__cell
        span.custom-table__cell-title 4569871236547845567
      td.custom-table__cell
        span.custom-table__cell-title Здесь какие-то параметры запроса
      td.custom-table__cell
        span.custom-table__cell-title А тут какой-то результат
    tr.custom-table__row
      td.custom-table__cell
        a(href="#").custom-table__cell-title Какое-то название счета, которое может быть длинным и занимать две строки и переноситься
      td.custom-table__cell
        span.custom-table__cell-title 15.12.2024 12:56
      td.custom-table__cell
        span.custom-table__cell-title Черновик платежа
      td.custom-table__cell
        span.custom-table__cell-title 4569871236547845567
      td.custom-table__cell
        span.custom-table__cell-title Здесь какие-то параметры запроса
      td.custom-table__cell
        span.custom-table__cell-title А тут какой-то результат