section.custom-filter
  form(action="#" method='post').custom-filter__form
    div.custom-filter__field
      span.custom-filter__label За период:
      div.custom-filter__field-inner
        include ../custom-range-picker/custom-range-picker
      
    div.custom-filter__field
      span.custom-filter__label Счет:
      div.custom-filter__field-inner
        include ../custom-select/custom-select