div.custom-module-card
  a(href="#" style='background-image: url("./assets/images/custom-module-card-background-2.png")').custom-module-card__banner
    img(src="./assets/images/custom-module-card-1.png", alt="")
    span.custom-module-card__labels-status
      span(style='background-color: #1aa9d6').custom-module-card__label-status Подписка
      span(style='background-color: #9dcf00').custom-module-card__label-status Бесплатно
  div.custom-module-card__title
    a(href="#").custom-module-card__title-text Банк Точка. Базовая интеграция
    div.custom-module-card__favorites
  span.custom-module-card__description Более 300 готовых отраслевых шаблонов лендингов, сайтов и интернет-магазинов для вашего бизнеса.

div.custom-module-card
  a(href="#" style='background-image: url("./assets/images/custom-module-card-background-1.png")').custom-module-card__banner
    img(src="./assets/images/custom-module-card-2.png", alt="")
    span.custom-module-card__labels-status
      span(style='background-color: #9dcf00').custom-module-card__label-status Бесплатно
  div.custom-module-card__title
    a(href="#").custom-module-card__title-text 300+ шаблонов сайтов и магазинов для конструктора Битрикс24.Сайты и Битрикс24.Магазины
    div.custom-module-card__favorites
  span.custom-module-card__description Редкие блоки: Бегущая строка, Всплывающее окно, Теги, Всплывающая кнопка, Карточка товара, Хлебные крошки, Строка навигации

div.custom-module-card
  a(href="#" style='background-image: url("./assets/images/custom-module-card-background-3.png")').custom-module-card__banner
    img(src="./assets/images/custom-module-card-3.png", alt="")
    span.custom-module-card__labels-status
      span(style='background-color: #9dcf00').custom-module-card__label-status Бесплатно
  div.custom-module-card__title
    a(href="#").custom-module-card__title-text Интернет-магазин электроники «Krayt.ElectronicsStore»
    div.custom-module-card__favorites
  span.custom-module-card__description Красивый и адаптивный шаблон интернет-магазина для конструктора Битрикс24

div.custom-module-card
  a(href="#" style='background-image: url("./assets/images/custom-module-card-background-4.png")').custom-module-card__banner
    img(src="./assets/images/custom-module-card-4.png", alt="")
    span.custom-module-card__labels-status
      span(style='background-color: #1aa9d6').custom-module-card__label-status Подписка
  div.custom-module-card__title
    a(href="#").custom-module-card__title-text Блоки для сайтов от Twin px
    div.custom-module-card__favorites
  span.custom-module-card__description Дополнительные блоки позволят придать изюминку вашему сайту. Посмотрите демо

div.custom-module-card
  a(href="#").custom-module-card__banner
    img(src="./assets/images/custom-module-card-5.png", alt="")
    span.custom-module-card__labels-status
      span(style='background-color: #9dcf00').custom-module-card__label-status Бесплатно
  div.custom-module-card__title
    a(href="#").custom-module-card__title-text Блоки с дизайном для Сайтов24
    div.custom-module-card__favorites
  span.custom-module-card__description Набор эффективных форм обратной связи для увеличения конверсии вашего сайта

div.custom-module-card
  a(href="#" style='background-image: url("./assets/images/custom-module-card-background-5.png")').custom-module-card__banner
    span.custom-module-card__labels-status
      span(style='background-color: #9dcf00').custom-module-card__label-status Бесплатно
  div.custom-module-card__title
    a(href="#").custom-module-card__title-text Версия для слабовидящих и многоуровневое меню для сайтов Битрикс24
    div.custom-module-card__favorites
  span.custom-module-card__description 

div.custom-module-card
  a(href="#").custom-module-card__banner
    img(src="./assets/images/custom-module-card-3.png", alt="")
    span.custom-module-card__labels-status
      span(style='background-color: #1aa9d6').custom-module-card__label-status Подписка
  div.custom-module-card__title
    a(href="#").custom-module-card__title-text FoodCourt — магазин доставки еды и продуктов питания на Битрикс24. Готовый сайт для ресторанов и кафе со встроенной CRM системой.
    div.custom-module-card__favorites
  span.custom-module-card__description 

div.custom-module-card
  a(href="#").custom-module-card__banner
    img(src="./assets/images/custom-module-card-1.png", alt="")
    span.custom-module-card__labels-status
      span(style='background-color: #9dcf00').custom-module-card__label-status Бесплатно
  div.custom-module-card__title
    a(href="#").custom-module-card__title-text 35+ шаблонов магазинов для конструктора Битрикс24.Магазины «Krayt.Shop»
    div.custom-module-card__favorites
  span.custom-module-card__description Блок шапки для Битрикс24.Сайты, которая имеет переход в версию сайта для слабовидящих, позволяющую организовать многоуровневую структуру меню для сайта.

div.custom-module-card
  a(href="#").custom-module-card__banner
    img(src="./assets/images/custom-module-card-2.png", alt="")
    span.custom-module-card__labels-status
      span(style='background-color: #9dcf00').custom-module-card__label-status Бесплатно
  div.custom-module-card__title
    a(href="#").custom-module-card__title-text Интернет-агентство
    div.custom-module-card__favorites
  span.custom-module-card__description 

div.custom-module-card
  a(href="#" style='background-image: url("./assets/images/custom-module-card-background-4.png")').custom-module-card__banner
    img(src="./assets/images/custom-module-card-5.png", alt="")
    span.custom-module-card__labels-status
      span(style='background-color: #1aa9d6').custom-module-card__label-status Подписка
  div.custom-module-card__title
    a(href="#").custom-module-card__title-text Бухгалтерские услуги
    div.custom-module-card__favorites
  span.custom-module-card__description Ecwid (Эквид) — это блок с интернет-магазином для вашего сайта на Битрикс24.