div.custom-account-card
  a(href="#").custom-account-card__title Какое-то название аккаунта
  span(style='color: #37aed4;').custom-account-card__status подключен
  button(type='button').custom-account-card__delete Удалить

div.custom-account-card
  a(href="#").custom-account-card__title Тут какое-то  более длинное название аккаунта
  span(style='color: #525c69;').custom-account-card__status отключен
  button(type='button').custom-account-card__delete Удалить

div.custom-account-card
  a(href="#").custom-account-card__title Заголовок/название аккаунта, возможно введение в блок который может быть длинным длинным, длинее чем удав из мультика 38 попугаев в лодке, не считая слонёнка.
  span(style='color: #525c69;').custom-account-card__status отключен
  button(type='button').custom-account-card__delete Удалить

div.custom-account-card
  a(href="#").custom-account-card__title Еще какое-то название аккаунта
  span(style='color: #dd4e5f;').custom-account-card__status просрочена
  button(type='button').custom-account-card__delete Удалить

div.custom-account-card
  a(href="#").custom-account-card__title Тут какое-то  более длинное название аккаунта
  span(style='color: #76950b;').custom-account-card__status завершена
  button(type='button').custom-account-card__delete Удалить

div.custom-account-card
  a(href="#").custom-account-card__title Еще какое-то название аккаунта
  span(style='color: #525c69;').custom-account-card__status обновлена
  button(type='button').custom-account-card__delete Удалить

div.custom-account-card
  a(href="#").custom-account-card__title Тут какое-то  более длинное название аккаунта
  span(style='color: #37aed4;').custom-account-card__status подключен
  button(type='button').custom-account-card__delete Удалить

div.custom-account-card
  a(href="#").custom-account-card__title Какое-то название аккаунта
  span(style='color: #525c69;').custom-account-card__status отключен
  button(type='button').custom-account-card__delete Удалить

div.custom-account-card
  a(href="#").custom-account-card__title Тут какое-то  более длинное название аккаунта
  span(style='color: #525c69;').custom-account-card__status отключен
  button(type='button').custom-account-card__delete Удалить

div.custom-account-card
  a(href="#").custom-account-card__title Заголовок/название аккаунта, возможно введение в блок который может быть длинным длинным, длинее чем удав из мультика 38 попугаев в лодке, не считая слонёнка.
  span(style='color: #525c69;').custom-account-card__status отключен
  button(type='button').custom-account-card__delete Удалить

div.custom-account-card
  a(href="#").custom-account-card__title Еще какое-то название аккаунта
  span(style='color: #37aed4;').custom-account-card__status подключен
  button(type='button').custom-account-card__delete Удалить

div.custom-account-card
  a(href="#").custom-account-card__title Тут какое-то  более длинное название аккаунта
  span(style='color: #37aed4;').custom-account-card__status подключен
  button(type='button').custom-account-card__delete Удалить

div.custom-account-card
  a(href="#").custom-account-card__title Еще какое-то название аккаунта
  span(style='color: #525c69;').custom-account-card__status отключен
  button(type='button').custom-account-card__delete Удалить

div.custom-account-card
  a(href="#").custom-account-card__title Тут какое-то  более длинное название аккаунта
  span(style='color: #37aed4;').custom-account-card__status подключен
  button(type='button').custom-account-card__delete Удалить

div.custom-account-card
  a(href="#").custom-account-card__title Какое-то название аккаунта
  span(style='color: #525c69;').custom-account-card__status отключен
  button(type='button').custom-account-card__delete Удалить