@import 'src/utils/utils';

.custom-icon {
  position: relative;
  display: flex;
  flex-shrink: 0;

  &[data-counter] {

    &:after {
      position: absolute;
      top: 0;
      left: 50%;
      min-width: 18px;
      height: 18px;
      padding-top: 1px;
      padding-right: 6px;
      padding-bottom: 1px;
      padding-left: 6px;
      border-radius: 100px;
      font-family: $main-font;
      font-size: 10px;
      font-weight: 600;
      line-height: 18px;
      text-align: center;
      color: var(--Marina-White);
      background-color: var(--Marina-Notification-red);
      content: attr(data-counter);
    }
  }

  &__item {
    width: 28px;
    height: 28px;
    background-color: currentColor;
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
  }

  &--headphones {

    .custom-icon__item {
      mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='29' height='28' viewBox='0 0 29 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M26.2845 19.2523C26.284 20.8478 25.7386 22.3953 24.7387 23.6386C23.7388 24.8818 22.3443 25.7463 20.786 26.089L20.0417 23.856C20.7233 23.7437 21.3715 23.4817 21.9396 23.0887C22.5077 22.6957 22.9816 22.1815 23.327 21.5833H20.4512C19.8324 21.5833 19.2389 21.3375 18.8013 20.8999C18.3637 20.4623 18.1179 19.8688 18.1179 19.25V14.5833C18.1179 13.9645 18.3637 13.371 18.8013 12.9334C19.2389 12.4958 19.8324 12.25 20.4512 12.25H23.8789C23.5942 9.99471 22.4963 7.92082 20.7912 6.41745C19.0861 4.91409 16.891 4.08459 14.6179 4.08459C12.3447 4.08459 10.1496 4.91409 8.44453 6.41745C6.73945 7.92082 5.64156 9.99471 5.35686 12.25H8.78452C9.40336 12.25 9.99686 12.4958 10.4344 12.9334C10.872 13.371 11.1179 13.9645 11.1179 14.5833V19.25C11.1179 19.8688 10.872 20.4623 10.4344 20.8999C9.99686 21.3375 9.40336 21.5833 8.78452 21.5833H5.28452C4.66569 21.5833 4.07219 21.3375 3.63461 20.8999C3.19702 20.4623 2.95119 19.8688 2.95119 19.25V13.4167C2.95119 6.97317 8.17436 1.75 14.6179 1.75C21.0614 1.75 26.2845 6.97317 26.2845 13.4167V19.2523Z' fill='%23333333'/%3e%3c/svg%3e ");
    }
  }

  &--bell {

    .custom-icon__item {
      mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='29' height='28' viewBox='0 0 29 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.6052 25.6666C16.2148 25.6666 17.5205 24.3609 17.5205 22.7499H11.6899C11.6899 24.3609 12.9955 25.6666 14.6052 25.6666ZM24.4211 18.8439C23.5407 17.8978 21.8932 16.4745 21.8932 11.8124C21.8932 8.2714 19.4104 5.43677 16.0626 4.74133V3.79159C16.0626 2.98631 15.41 2.33325 14.6052 2.33325C13.8004 2.33325 13.1478 2.98631 13.1478 3.79159V4.74133C9.79997 5.43677 7.31716 8.2714 7.31716 11.8124C7.31716 16.4745 5.6697 17.8978 4.78923 18.8439C4.51579 19.1378 4.39457 19.4892 4.39685 19.8333C4.40186 20.5807 4.98839 21.2916 5.85974 21.2916H23.3506C24.222 21.2916 24.809 20.5807 24.8135 19.8333C24.8158 19.4892 24.6946 19.1374 24.4211 18.8439Z' fill='%23333333'/%3e%3c/svg%3e ");
    }
  }
}