mixin custom-icon(props)
  if props.headphones
    div.custom-icon.custom-icon--headphones
      i.custom-icon__item
    
  if props.bell
    div(data-counter='23').custom-icon.custom-icon--bell
      i.custom-icon__item
