//- Пример разметки 
div.accordion
  div.accordion__container
    div.accordion__header
    div.accordion__inner
      div.accordion__answer

  button(type='button' aria-label="Раскрыть").accordion__toggle