@import 'src/utils/utils';

.custom-select {

  .choices {
    font-size: 0;
  }

  .choices[data-type*=select-one] .choices__inner {
    min-height: 12px;
    padding: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: #585f6c;
    border: 0;
    background-color: transparent;
  }

  .choices__list--single {
    padding: 0;
    // text-decoration: underline;
    // text-underline-position: under;
    // text-decoration-style: dashed;

    .choices__item--selectable {
      color: var(--Marina-Text);
    }

    .choices__placeholder {
      color: var(--Marina-Text);
      opacity: 1;
    }
  }

  .choices[data-type*=select-one]:after {
    display: none;
  }

  .choices__list--dropdown {
    @include shadow;
    left: 0;
    min-width: 220px;
    margin-top: 10px;
    border-radius: 4px;
    border: 0;

    .choices__list {
      max-height: 200px;
      padding: 0;

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-track {
        margin-top: 2px;
        margin-bottom: 2px;
        border-radius: 4px;
        background-color: #ffffff;
      }

      &::-webkit-scrollbar-thumb {
        height: 4px;
        border: 2px solid #ffffff;
        border-radius: 4px;
        background-color: #B6B6B6;
      }
    }

    .choices__placeholder {
      display: none;
    }

    .choices__item {
      padding-top: 6px;
      padding-right: 10px;
      padding-bottom: 6px;
      padding-left: 10px;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;

      &:hover {
        background-color: #f8f8f8 !important;
      }
    }

    .is-selected {
      text-decoration: underline;
      text-underline-position: under;
      text-decoration-style: dashed;
      text-decoration-thickness: 1px;
    }

    .is-highlighted {
      background-color: transparent !important;
    }
  }
}