div.custom-bill-card
  div.custom-bill-card__main
    a(href="#").custom-bill-card__title Какое-то название счета
    span.custom-bill-card__code 15478924
  form(action="#" method='post').custom-bill-card__form
    input(type="hidden" name='title' value='Какое-то название счета')
    input(type="hidden" name='code' value='15478924')
    +custom-checkbox({
      secondClass: 'custom-checkbox--toggle',
      type: 'checkbox',
      yes: 'Вкл',
      no: 'Выкл',
    })

div.custom-bill-card
  div.custom-bill-card__main
    a(href="#").custom-bill-card__title Еще какое-то название аккаунта
    span.custom-bill-card__code 34758694
  form(action="#" method='post').custom-bill-card__form
    input(type="hidden" name='title' value='Еще какое-то название аккаунта')
    input(type="hidden" name='code' value='34758694')
    +custom-checkbox({
      secondClass: 'custom-checkbox--toggle',
      type: 'checkbox',
      yes: 'Вкл',
      no: 'Выкл',
      checked: true,
    })

div.custom-bill-card
  div.custom-bill-card__main
    a(href="#").custom-bill-card__title Тут какое-то более длинное название аккаунта
    span.custom-bill-card__code 34489475302
  form(action="#" method='post').custom-bill-card__form
    input(type="hidden" name='title' value='Тут какое-то более длинное название аккаунта')
    input(type="hidden" name='code' value='34489475302')
    +custom-checkbox({
      secondClass: 'custom-checkbox--toggle',
      type: 'checkbox',
      yes: 'Вкл',
      no: 'Выкл',
      checked: true,
    })

div.custom-bill-card
  div.custom-bill-card__main
    a(href="#").custom-bill-card__title Заголовок/название счёта, возможно введение в блок который может быть длинным длинным, длинее чем удав из мультика 38 попугаев в лодке, не считая слонёнка.
    span.custom-bill-card__code 567678056970456923
  form(action="#" method='post').custom-bill-card__form
    input(type="hidden" name='title' value='Заголовок/название счёта, возможно введение в блок который может быть длинным длинным, длинее чем удав из мультика 38 попугаев в лодке, не считая слонёнка.')
    input(type="hidden" name='code' value='567678056970456923')
    +custom-checkbox({
      secondClass: 'custom-checkbox--toggle',
      type: 'checkbox',
      yes: 'Вкл',
      no: 'Выкл',
    })

div.custom-bill-card
  div.custom-bill-card__main
    a(href="#").custom-bill-card__title Еще какое-то название аккаунта
    span.custom-bill-card__code 34758694
  form(action="#" method='post').custom-bill-card__form
    +custom-checkbox({
      secondClass: 'custom-checkbox--toggle',
      type: 'checkbox',
      yes: 'Вкл',
      no: 'Выкл',
      checked: true,
    })

div.custom-bill-card
  div.custom-bill-card__main
    a(href="#").custom-bill-card__title Тут какое-то более длинное название аккаунта
    span.custom-bill-card__code 34489475302
  form(action="#" method='post').custom-bill-card__form
    +custom-checkbox({
      secondClass: 'custom-checkbox--toggle',
      type: 'checkbox',
      yes: 'Вкл',
      no: 'Выкл',
      checked: true,
    })

div.custom-bill-card
  div.custom-bill-card__main
    a(href="#").custom-bill-card__title Еще какое-то название аккаунта
    span.custom-bill-card__code 34758694
  form(action="#" method='post').custom-bill-card__form
    +custom-checkbox({
      secondClass: 'custom-checkbox--toggle',
      type: 'checkbox',
      yes: 'Вкл',
      no: 'Выкл',
      checked: true,
    })

div.custom-bill-card
  div.custom-bill-card__main
    a(href="#").custom-bill-card__title Тут какое-то более длинное название аккаунта
    span.custom-bill-card__code 34489475302
  form(action="#" method='post').custom-bill-card__form
    +custom-checkbox({
      secondClass: 'custom-checkbox--toggle',
      type: 'checkbox',
      yes: 'Вкл',
      no: 'Выкл',
      checked: true,
    })

div.custom-bill-card
  div.custom-bill-card__main
    a(href="#").custom-bill-card__title Заголовок/название счёта, возможно введение в блок который может быть длинным длинным, длинее чем удав из мультика 38 попугаев в лодке, не считая слонёнка.
    span.custom-bill-card__code 123123123
  form(action="#" method='post').custom-bill-card__form
    +custom-checkbox({
      secondClass: 'custom-checkbox--toggle',
      type: 'checkbox',
      yes: 'Вкл',
      no: 'Выкл',
    })

div.custom-bill-card
  div.custom-bill-card__main
    a(href="#").custom-bill-card__title Еще какое-то название аккаунта
    span.custom-bill-card__code 34758694
  form(action="#" method='post').custom-bill-card__form
    +custom-checkbox({
      secondClass: 'custom-checkbox--toggle',
      type: 'checkbox',
      yes: 'Вкл',
      no: 'Выкл',
      checked: true,
    })

div.custom-bill-card
  div.custom-bill-card__main
    a(href="#").custom-bill-card__title Тут какое-то более длинное название аккаунта
    span.custom-bill-card__code 34489475302
  form(action="#" method='post').custom-bill-card__form
    +custom-checkbox({
      secondClass: 'custom-checkbox--toggle',
      type: 'checkbox',
      yes: 'Вкл',
      no: 'Выкл',
      checked: true,
    })

div.custom-bill-card
  div.custom-bill-card__main
    a(href="#").custom-bill-card__title Еще какое-то название аккаунта
    span.custom-bill-card__code 34758694
  form(action="#" method='post').custom-bill-card__form
    +custom-checkbox({
      secondClass: 'custom-checkbox--toggle',
      type: 'checkbox',
      yes: 'Вкл',
      no: 'Выкл',
      checked: true,
    })

div.custom-bill-card
  div.custom-bill-card__main
    a(href="#").custom-bill-card__title Тут какое-то более длинное название аккаунта
    span.custom-bill-card__code 34489475302
  form(action="#" method='post').custom-bill-card__form
    +custom-checkbox({
      secondClass: 'custom-checkbox--toggle',
      type: 'checkbox',
      yes: 'Вкл',
      no: 'Выкл',
      checked: true,
    })


div.custom-bill-card
  div.custom-bill-card__main
    a(href="#").custom-bill-card__title Заголовок/название счёта, возможно введение в блок который может быть длинным длинным, длинее чем удав из мультика 38 попугаев в лодке, не считая слонёнка.
    span.custom-bill-card__code 34489475302
  form(action="#" method='post').custom-bill-card__form
    +custom-checkbox({
      secondClass: 'custom-checkbox--toggle',
      type: 'checkbox',
      yes: 'Вкл',
      no: 'Выкл',
    })

div.custom-bill-card
  div.custom-bill-card__main
    a(href="#").custom-bill-card__title Еще какое-то название аккаунта
    span.custom-bill-card__code 34758694
  form(action="#" method='post').custom-bill-card__form
    +custom-checkbox({
      secondClass: 'custom-checkbox--toggle',
      type: 'checkbox',
      yes: 'Вкл',
      no: 'Выкл',
      checked: true,
    })

div.custom-bill-card
  div.custom-bill-card__main
    a(href="#").custom-bill-card__title Тут какое-то более длинное название аккаунта
    span.custom-bill-card__code 34489475302
  form(action="#" method='post').custom-bill-card__form
    +custom-checkbox({
      secondClass: 'custom-checkbox--toggle',
      type: 'checkbox',
      yes: 'Вкл',
      no: 'Выкл',
      checked: true,
    })

div.custom-bill-card
  div.custom-bill-card__main
    a(href="#").custom-bill-card__title Еще какое-то название аккаунта
    span.custom-bill-card__code 34758694
  form(action="#" method='post').custom-bill-card__form
    +custom-checkbox({
      secondClass: 'custom-checkbox--toggle',
      type: 'checkbox',
      yes: 'Вкл',
      no: 'Выкл',
      checked: true,
    })

div.custom-bill-card
  div.custom-bill-card__main
    a(href="#").custom-bill-card__title Тут какое-то более длинное название аккаунта
    span.custom-bill-card__code 34489475302
  form(action="#" method='post').custom-bill-card__form
    +custom-checkbox({
      secondClass: 'custom-checkbox--toggle',
      type: 'checkbox',
      yes: 'Вкл',
      no: 'Выкл',
      checked: true,
    })

